$grid-gutter-width: 0;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities';

body {
  font-family: 'Open Sans', sans-serif;
}

:root {
  font-size: 16px;
}

.site-header {
  color: #fff;
  background-color: #111957;
}

.text-header {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    border-bottom: 0;
  }
}

section {
  margin-bottom: 3rem;
}

h2 {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  border-bottom: 1px solid #eaeaea;
}

h3 {
  margin-top: 3rem;
  font-size: 1.5rem;
}
