$grid-gutter-width: 0;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities';

body {
  font-family: 'Open Sans', sans-serif;
}

:root {
  font-size: 16px;
}

.site-header {
  color: #fff;
  background-color: #111957;
}

.text-header {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
}

.sub-title {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1.2;

  @include media-breakpoint-up(lg) {
    margin-top: 2rem;
  }
}
